body{
    padding: 0;
    margin: 0;
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(246, 246, 246);
    max-width: 100%;
    height: 70px;
}
h4{
    display: flex;
    justify-content: space-around;
    color: rgb(90, 90, 90);
    padding: 10px;
    font-size: 15px;
}
.button1{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    padding: 10px 20px;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 4px 15px;
}
img{
    max-width: 160px;
    height: 70px;
}
.button2{
    display: flex;
    justify-content: space-around;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    font-weight: 800;
    font-size: 20px;
}
p{
    color: white;
    font-size: 20px;
}
h1{
    color: white;
    font-size: 70px;
}
.center{
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    margin: 200px;
    max-width: 500px;
    height: 500px;
}
.padding{
    display: flex;
    flex-direction: row;
    max-width: 400px;
    height: 70px;
}