body{
    position: relative;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color: white;
    width: 1200px;
    height: 300px;
    border-radius: 10px;
    margin: 80px ;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgb(112, 112, 112);
}
h1{
    color: red;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 1170px;
}
td ,th{
    border: 1px solid black;
    padding: 10px;
}
th{
    color: white;
    background-color: rgb(47, 47, 47);
    padding: 10px 0px
}
header h1{
    position: absolute;
    left: -770px;
    background-color: rgb(25, 25, 25);
    padding: 15px;
    width: 1533px;
}
header{
    position: absolute;
    top: -30px;
    background-color: rgb(58, 58, 58);
    height: 60px;
}
input{
    padding: 10px;
    border-radius: 5px;
    border:1px solid rgb(231, 231, 231);
}
.submit{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(54, 54, 54);
    border: none;
    color: white;
}
.table{
    position: absolute;
    top: -30px;
    right: 20px;
    z-index: 3;
    padding: 10px;
    background-color: orange;
}
.form{
    position: absolute;
    top: -30px;
    right: 15px;
    z-index: 3;
    padding: 10px;
    background-color: orange;
}
.contact{
    position: absolute;
    top: -30px;
    right: 10px;
    z-index: 3;
    padding: 10px;
    background-color: orange;
}