body{
    position: relative;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color: white;
    width: 1200px;
    height: 300px;
    border-radius: 10px;
    margin: 80px ;
    padding: 20px;
    text-align: center;
}
h1{
    color: red;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 1170px;
}
td ,th{
    border: 1px solid black;
    padding: 10px;
}
th{
    color: white;
    background-color: rgb(47, 47, 47);
    padding: 10px 0px
}
.line h1{
    position: absolute;
    left: -672px;
    padding: 15px 0px 15px 5px;
    background-color: rgb(47, 47, 47);
    width: 1533px
}
.line{
    position: absolute;
    top: -30px;
    height: 60px;
}
input{
    padding: 10px;
    border-radius: 5px;
    border:1px solid rgb(231, 231, 231);
}
.submit{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(54, 54, 54);
    border: none;
    color: white;
}
