body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(241, 241, 241);
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    width: 900px;
    height: 400px;
    background-color: white;
    box-shadow: 0 0 30px 0 black;
    padding: 10px 350px 0 80px;
    border-radius: 10px;
}